* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
nav{
  width: 100%;
  box-shadow: 2px 2px 30px rgba(0,0,0,.05);
}
/* -social links and phone number start---------- --> */
.social-call{
  height: 40px;
  border: 1px solid rgba(0,0,0,.05);
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.social a{
  color: rgba(0,0,0,.7);
  margin: 0 5px;
  font-size: .9rem;
}
.social a:hover{
  color: #0b9d8a;
  transition: all .3s ease;
}
.phone{
  color: rgba(0,0,0,.7);
  font-size: .9rem;
  margin-left: 30px;
}
.phone h4{
  font-size: .9rem;
}
/* <!- social links and phone number end---------- -------------------> */

/* navigation menu start -------------------------------------------------*/
.navigation{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3.5rem;
}
.logo img{
  height: 30px;
}
.menu{
  display: flex;
}
.menu li{
  position: relative;
  margin: 20px;
  text-transform: uppercase;
  font-weight: bold;
}
.menu li a{
  color: #555555;
  text-decoration: none;
}
.right-menu{
  margin:  010px;
  font-size: 1.2rem;
}
.right-menu a{
  color: rgba(0,0,0,.7);
}
.right-menu a:hover,
.menu a:hover,
.search-cancel i:hover{
  color: #0b9d8a;
  transition: all .3s  ease;
}


/* sale lable ------------------- */
.sale-lable{
  width: 50px;
  height: 20px;
  background: orange;
  color: white;
  font-size: .9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  top: -20px;
  right: -30px;
}
.sale-lable::after{
  content: '';
  width: 0;
  height: 0;
  border-bottom: 5px solid transparent;
  border-left: 3px solid transparent;
  border-top: 7px solid orange;
  border-right: 5px solid transparent;
  position: absolute;
  top: 100%;
  left: 10%;
}
/* cart -------------------------- */
.fa-shopping-cart{
  position: relative;
}
.num-cart-product{
  width: 25px;
  height: 25px;
  position: absolute;
  top:-17px;
  right: -17px;
  font-size: .8rem;
  border-radius: 50%;
  color: white;
  background: #0b9d8a;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/* navigation menu end ---------------------------------------*/


/* search bar start ---------------------------------------------- */
.search-bar{
  width: 100%;
  height:300PX ;
  background: #ffffff;
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  box-shadow: 2px -5px 30px rgba(0,0,0,.1);
  z-index: 101;
  animation: search .5s;

}
.search-input{
  width: 90%;
  border-bottom: 2px solid #555555;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-top: 20px;
  margin: auto;
}
.search-bar input{
  width: 90%;
  padding: 1rem;
  border: none;
  outline: none;
  font-size: 2rem;
}
.search-cancel i{
  font-size: 30px;
  color: gray;
  padding-right: 20px;
}
.search-bar{
  display: none;
}
.search-bar-active{
  display: block;
}
/* search bar end */

/* search bar animation  */
@keyframes search{
  0%{
    bottom: -300px;
  }
  100%{
    bottom: 0;
  }
}


/* log in and creat account start  */
.form{
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,.3);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 105;
  display: none;
  animation: fade .1s;
  
}

.login-form,
.sign-up-form{
  width: 25rem;
  background: white;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,.3);
 
}
.sign-up-form{
  max-width: 25rem;
}

.login-form form,
.sign-up-form form
{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.login-form strong,
.sign-up-form strong{
  font-size: 2rem;
  text-transform: uppercase;
  margin: 5px 7px 7px 7px;
  letter-spacing: .3rem;
  font-weight: 500;
}
.login-form input,
.sign-up-form input{
  width: 90%;
  outline: none;
  margin: 10px 0;
  padding: 0 10px;
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,.1);
  font-size: 16px;
}
.login-form input::placeholder,
.sign-up-form input::placeholder{
  color: rgba(0,0,0,.3);
}
.login-form input[type="submit"],
.sign-up-form input[type="submit"]{
  background: #0b9d8a;
  padding: 10px 0;
  color: white;
  text-transform: uppercase;
}
.form-btn,
.sign-up-form{
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.form-btn a,
.sign-up-form a{
  text-decoration: none;
}
.creat-account{
  border-bottom: 1px solid blue;
}
.cancel-btn{
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: .5rem;
  background: #0b9d8a;
  
}
.cancel-btn a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  padding: .5rem 0;
}
.sign-up-form{
  display: none;
}
@keyframes fade {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}


/* log in and creat account end */

/* carousel start */
/* #carouselExampleControls{
  z-index: 500;
} */
.custom-carousel{
  position: relative;
}
.carousel-text{
  max-width: 30rem;
  border: 1px solid #0b9d8a;
  margin-top: -100px;
  z-index: 10000;
  position: absolute;
  top: 50%;
  left: 10%;
  padding: 1rem;
  transition: all .3s ease-in-out;
}
.carousel-text:hover{
  transform: scale(1.1);
}
.carousel-text h1 span{
  color: #0b9d8a;
}
.carousel-text a{
  text-decoration: none;
  background: #0b9d8a;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
}


/* carousel end */

/* featured categories start */
.feature-categories-heading{
  display: flex;
  justify-content: center;
  align-items: center;
}
.feature-categories-heading h1{
  font-size: 1.5rem;
  letter-spacing: 1px;
  padding: 1rem 1rem;
  margin-top: .5rem;
  color: #1b1919;
  text-transform: uppercase;
  border: 1px solid #e0e0e0;
}

/* featured categories end */